## Extract/Transform continued

In [31]:
# import dependencies
import pandas as pd
import numpy as np

# from sklearn.model_selection import train_test_split
# from sklearn.naive_bayes import MultinomialNB

### Bag Of Words

In [32]:
docs = ['today is monday', 'the weather is very sunny', 'i need more coffee']

In [33]:
# instantiate CountVectorizer (vectorizer)
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
vect.fit(docs)
vect.get_feature_names()

['coffee',
 'is',
 'monday',
 'more',
 'need',
 'sunny',
 'the',
 'today',
 'very',
 'weather']

### Transform

In [34]:
docs_transformed = vect.transform(docs)
print(docs)
print(vect.get_feature_names())
docs_transformed.toarray()

['today is monday', 'the weather is very sunny', 'i need more coffee']
['coffee', 'is', 'monday', 'more', 'need', 'sunny', 'the', 'today', 'very', 'weather']

array([[0, 1, 1, 0, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 1, 1, 0, 1, 1],
       [1, 0, 0, 1, 1, 0, 0, 0, 0, 0]], dtype=int64)

In [35]:
data = pd.DataFrame(docs_transformed.toarray())
data.columns = vect.get_feature_names()
data.head()

   coffee  is  monday  more  need  sunny  the  today  very  weather
0       0   1       1     0     0      0    0      1     0        0
1       0   1       0     0     0      1    1      0     1        1
2       1   0       0     1     1      0    0      0     0        0

### Term Frequency - Inverse Document Frequency (TF-IDF)

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer
# transform text to vectors
tfvect  = TfidfVectorizer(stop_words={'english'})
trans = tfvect.fit_transform(docs)
pd.DataFrame(trans.toarray(), columns=tfvect.get_feature_names())

,coffee,is,monday,more,need,sunny,the,today,very,weather
0,0.00000,0.473630,0.622766,0.00000,0.00000,0.000000,0.000000,0.622766,0.000000,0.000000
1,0.00000,0.355432,0.000000,0.00000,0.00000,0.467351,0.467351,0.000000,0.467351,0.467351
2,0.57735,0.000000,0.000000,0.57735,0.57735,0.000000,0.000000,0.000000,0.000000,0.000000